
@{
    ViewData["Title"] = "BackendTest";
}

<h1>Backend Test</h1>

<a class="btn btn-lg btn-primary" asp-action="GetSingle">Get Single</a>
<a class="btn btn-lg btn-primary" asp-action="GetAll">Get All</a>
<a class="btn btn-lg btn-primary" asp-action="Create">Create</a>
<a class="btn btn-lg btn-primary" asp-action="Update">Update</a>
<a class="btn btn-lg btn-primary" asp-action="Delete">Delete</a>